/* #bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

#bg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
} */

html {
  background: url(/images/Space.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

canvas {
  border: 3px solid black;
}
#title {
  color: white;
  text-align: center;
}
#game-field {
  /* border: 1px solid white; */
  margin: 0 auto;
}
#game-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#game-board button {
  height: 2rem;
  width: auto;
}
